.header {
  background: #0D0D0D;

  .header__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0 100px 0;
  }
}

.inputs {
  margin-top: -43px;

  .inputs__inner {
    display: flex;
    justify-content: space-between;
  }

  .inputs__left {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 70px;

    .inputs__left-title,
    .inputs__left-description {
      border-radius: 8px;
      border: 1px solid var(--Gray-700, #0D0D0D);
      background: var(--Gray-500, #262626);
      padding: 10px 16px;
      width: 720px;
      color: #F2F2F2;
    }

    .inputs__left-title:placeholder,
    .inputs__left-description:placeholder {
      color: var(--Gray-300, #808080);
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
    }
  }

  .inputs__button {
    position: relative;

    align-self: flex-start;
    margin-top: 20px;

    border-radius: 12px;
    background: var(--Blue-Dark, #1E6F9F);
    padding: 12px 32px 12px 16px;

    color: var(--Gray-100, #F2F2F2);
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../assets/add-task-button.svg");
      background-size: contain;
      background-repeat: no-repeat;
      width: 16px;
      height: 16px;
      top: 13px;
      right: 10px;
    }
  }
}

.tasks__info {
  margin-bottom: 30px;

  .tasks__info-inner {
    display: flex;
    justify-content: space-between;

    .tasks__info-total {
      color: var(--Blue, #4EA8DE);
      font-size: 14px;
      font-weight: 700;
      line-height: normal;

      span {
        color: var(--Gray-200, #D9D9D9);
        font-size: 12px;
        font-weight: 700;
        line-height: normal;

        padding: 2px 8px;
        border-radius: 999px;
        background: var(--Gray-400, #333);
        margin-left: 8px;
      }
    }

    .tasks__info-completed {
      color: var(--Purple, #8284FA);
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      span {
        color: var(--Gray-200, #D9D9D9);
        font-size: 13px;
        font-weight: 700;
        line-height: normal;

        padding: 2px 8px;
        border-radius: 999px;
        background: var(--Gray-400, #333);
        margin-left: 8px;
      }
    }
  }
}


